@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

html {

}
body {

}

rect {
  fill: none;
  pointer-events: all;
}

circle {
  fill: none;
  stroke-width: 1px;
}

.canvasStyle {
  width: 100%;
  height: 556px;
}
